.containers {
    width: 1024px;
}

.header-three-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

.box {
    padding: 0px 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 298.6667px;
    height: 172px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 32px;
    gap: 10px;
    transition: 0.5s ease;
}


.net-flow {
    font-family: 'Inter' sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #3D4A3D;
}

.last {
    color: #006E2F;
}

.nine {
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    font-size: 30px;
    vertical-align: middle;
}

.box:hover {
    background: #006E2F;
    color: #ffff !important;
}

.lasts {
    color: #B61722;
}

.pro {
    width: 69.5px;
    height: 24px;
    border-radius: 9999px;
    border: none;
    background: #FFFFFF33;
    border: 1px solid #ccc;
}

.btn-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
}

.bank {
    font-size: 25px;
}

.p-ledger {
    display: flex;
    text-transform: uppercase;
    color: #006E2F;
}

.p-ledger>p {
    color: #94A3B8;
}

.ledger-header-two {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.add {
    width: 198.6px;
    height: 48px;
    background: #178543;
    font-size: 18px;
    color: #000;
    margin-left: 780px;
    border-radius: 12px;
    margin-top: -50px;
    border: none;
}

.alls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 632px;
    margin-top: 40px;
    height: 64px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 16px;
}

.all-btn {
    font-family: 'Inter' sans-serif;
    width: 156px;
    height: 48px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    transition: 0.5s ease;
}

.all-btn:hover {
    color: #006E2F;
}

.select {
    width: 304px;
    height: 64px;
    box-shadow: #0000000D;
    margin-top: 40px;
}

.big-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}