.dash{
    width: 1024px;
    height: 1023px;
    background-color: #EFF4FF;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-dash{
    width: 960px;
    height: 64px;
    display: flex;
    flex-direction: column;  
    margin-bottom: 40px; 
}
.text-dash h1{
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    color: #0B1C30;
}
.text-dash p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #3D4A3D;
}
.totals-dash{
    width: 960px;
    height: 220px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.box-dash{
    width: 299px;
height: 220px;
border-radius: 12px;
padding: 32px;
background-color: #FFFFFF;
}
.name-box{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #3D4A3D;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 32px;
}
.icon-total{
    width: 48px;
    height: 48px;
    background: #4AE17633;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
margin-right: 12px;
}
.price-box{
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
    color: #0B1C30;
}

.month-box{
    font-size: 14px;
    color: #006E2F;
    font-weight: 700;
    line-height: 20px;
    margin-top: 16px;
}
.kok-box{
    color: #005AC2;
}

.expenses-dash{
    width: 960px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chart-side{
    width: 630px;
    height: 380px;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 32px;
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.real-chart{
    display: flex;
    gap: 8px;
    align-items: end;
}
.recent-side{
    width: 298px;
    height: 380px;
    background-color: #FFFFFF;
    border-radius: 12px;
}
.text-chart{
    width: 565px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-icon-chart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.text-chart h2{
    font-size: 20px;
    font-weight: 700;
    color: #0B1C30;
    line-height: 28px;
}
.circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #006E2F;
}
.circle-2{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #B61722;
}
.months{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.top-jan{
    width: 85px;
    height: 102px;
    background-color: #006E2F33;
}
.middle-jan{
    width: 85px;
    height: 52px;
    background-color: #B6172233;
}
.months p{
    color: #3D4A3D;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-feb{
    width: 85px;
    height: 140px;
    background-color: #006E2F33;
}
.middle-feb{
    width: 85px;
    height: 64px;
    background-color: #B6172233;
}
.top-mar{
    width: 85px;
    height: 146px;
    background-color: #006E2F66;
    border-top: 2px solid #006E2F;
}
.middle-mar{
    width: 85px;
    height: 79px;
    background-color: #006E2F66;
    border-top: 2px solid #006E2F;
}
.top-apr{
    width: 85px;
    height: 150px;
    background-color: #006E2F33;
}
.middle-apr{
    width: 85px;
    height: 75px;
    background-color: #006E2F33;
}
.top-may{
    width: 85px;
    height: 147px;
    background-color: #006E2F33;
}
.middle-may{
    width: 85px;
    height: 78px;
    background-color: #006E2F33;
}
.top-jun{
    width: 85px;
    height: 144px;
    background-color: #B61722CC;
    border: 2px solid #006E2F;
}
.middle-jun{
    width: 85px;
    height: 80px;
    background-color: #B61722CC;
    border: 2px solid #006E2F;
}