.dash{
    width: 1024px;
    height: 1023px;
    background-color: #EFF4FF;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-dash{
    width: 960px;
    height: 64px;
    display: flex;
    flex-direction: column;  
    margin-bottom: 40px; 
}
.text-dash h1{
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    color: #0B1C30;
}
.text-dash p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #3D4A3D;
}
.totals-dash{
    width: 960px;
    height: 220px;
    display: flex;
    justify-content: space-between;
}
.box-dash{
    width: 299px;
height: 220px;
border-radius: 12px;
padding: 32px;
background-color: #FFFFFF;
}
